@import "../utils/variables.scss";

.icon {
  display: block;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  transition: $transition;

  &--instagram_white {
    width: 48px;
    height: 48px;
    background-image: url("../../public/img/icons/instagram_white.svg");

    &:hover {
      background-image: url("../../public/img/icons/instagram_grey.svg");
    }

    &:active {
      background-image: url("../../public/img/icons/instagram_light_grey.svg");
    }
  }

  &--instagram_black {
    background-image: url("../../public/img/icons/instagram_black.svg");

    &:hover {
      background-image: url("../../public/img/icons/instagram_grey.svg");
    }

    &:active {
      background-image: url("../../public/img/icons/instagram_light_grey.svg");
    }
  }

  &--facebook_white {
    width: 48px;
    height: 48px;
    background-image: url("../../public/img/icons/facebook_white.svg");

    &:hover {
      background-image: url("../../public/img/icons/facebook_grey.svg");
    }

    &:active {
      background-image: url("../../public/img/icons/facebook_light_grey.svg");
    }
  }

  &--facebook_black {
    background-image: url("../../public/img/icons/facebook_black.svg");

    &:hover {
      background-image: url("../../public/img/icons/facebook_grey.svg");
    }

    &:active {
      background-image: url("../../public/img/icons/facebook_light_grey.svg");
    }
  }

  &--telegram_white {
    width: 48px;
    height: 48px;

    background-image: url("../../public/img/icons/telegram_white.svg");

    &:hover {
      background-image: url("../../public/img/icons/telegram_grey.svg");
    }

    &:active {
      background-image: url("../../public/img/icons/telegram_light_grey.svg");
    }
  }

  &--telegram_black {
    background-image: url("../../public/img/icons/telegram_black.svg");

    &:hover {
      background-image: url("../../public/img/icons/telegram_grey.svg");
    }

    &:active {
      background-image: url("../../public/img/icons/telegram_light_grey.svg");
    }
  }

  &--telegram_big {
    width: 30px;
    height: 30px;
    display: none;

    @media (min-width: $desktop) {
      display: block;
      width: 40px;
      height: 40px;
    }
  }

  &--telegram_big_white {
    background-image: url("../../public/img/icons/telegram_big_white.svg");

    &:hover {
      background-image:  url("../../public/img/icons/telegram_big_white_hover.svg");
    }

    &:active {
      background-image: url("../../public/img/icons/telegram_big_white_active.svg");
    }

  }

  &--telegram_big_black {
    background-image: url("../../public/img/icons/telegram_big_black.svg");

    &:hover {
      background-image:  url("../../public/img/icons/telegram_big_black_hover.svg");
    }

    &:active {
      background-image: url("../../public/img/icons/telegram_big_black_active.svg");
    }
  }

  &--menu {
    width: 30px;
    height: 30px;

    @media (min-width: $desktop) {
      display: none;
    }
  }

  &--menu_white {
    background-image: url("../../public/img/icons/menu_white.svg");

    &:hover {
      background-image: url("../../public/img/icons/menu_white_hover.svg");
    }

    &:active {
      background-image: url("../../public/img/icons/menu_white_active.svg");
    }
  }

  &--menu_black {
    background-image: url("../../public/img/icons/menu_black.svg");

    &:hover {
      background-image: url("../../public/img/icons/menu_black_hover.svg");
    }

    &:active {
      background-image: url("../../public/img/icons/menu_black_active.svg");
    }
  }

  &--phone {
    position: relative;
    background: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0;
    width: 30px;
    height: 30px;

    @media (min-width: $desktop) {
      min-width: 40px;
      height: 40px;
    }
  }

  &--phone_white {
    background-image: url("../../public/img/icons/phone_white.svg");
  
    &:hover {
      background-image: url("../../public/img/icons/phone_white_hover.svg");
    }

    &:active {
      background-image: url("../../public/img/icons/phone_white_active.svg");
    }
  }

  &--phone_black {
    background-image: url("../../public/img/icons/phone_black.svg");

    &:hover {
      background-image: url("../../public/img/icons/phone_black_hover.svg");
    }

    &:active {
      background-image: url("../../public/img/icons/phone_black_active.svg");
    }
  }

  &--profile {
    width: 40px;
    height: 40px;
    display: none;

    @media (min-width: $desktop) {
      display: block;
    }
  }

  &--profile_black {
    background-image: url("../../public/img/icons/profile_black.svg");

    &:hover {
      background-image: url("../../public/img/icons/profile_black_hover.svg");
    }

    &:active {
      background-image: url("../../public/img/icons/profile_black_active.svg");
    }
  }

  &--profile_white {
    background-image: url("../../public/img/icons/profile_white.svg");

    &:hover {
      background-image: url("../../public/img/icons/profile_white_hover.svg");
    }

    &:active {
      background-image: url("../../public/img/icons/profile_white_active.svg");
    }
  }

  &--cross {
    width: 32px;
    height: 32px;
    background-image: url("../../public/img/icons/cross.svg");

    &:hover {
      background-image: url("../../public/img/icons/cross_grey.svg");
    }

    &:active {
      background-image: url("../../public/img/icons/cross_light_grey.svg");
    }
  }

  &--toogle_btn {
    background-image: url("../../public/img/icons/toogle_btn.svg");
  }
}
