@import "../utils/variables.scss";

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img_header {
    width: 48px;
    height: 33px;
    margin: 0 auto;

    @media (min-width: $desktop) {
      width: 68px;
      height: 48px;
      margin-bottom: 6px;
    }
  } 

  &__img_footer {
    width: 97px;
    height: 68px;
    margin-bottom: 8px;
  }

  &__title {
    font-weight: 800;
    color: #fff;
    transition: $transition;

    &--header {
      font-size: 10px;
      line-height: 12px;
    }

    &--white {
      color: #0b0b0b;
    }

    &--footer {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 20px;
    }
  }

  &:hover &__title {
    color:  #eee;
  }

  &:active &__title {
    color: #fff;
  }

  &:hover &__title--white {
    color: #666;
  }

  &:active &__title--white {
    color: #0b0b0b;
  }
}
