@import "../utils/variables.scss";

.small_text {
  font-size: 20px;
  line-height: 24px;
  font-weight: inherit;
  color: inherit;
  
  &--white {
    color: #fff;
  }

  &--grey {
    color: $grey;
  }

  &--dark_grey {
    color: $darkGrey;
  }

  &--light_grey {
    color: $lightGrey;
  }
}
