@import "../utils/variables.scss";

.text {
  font-size: 24px;
  line-height: 29px;
  font-weight: inherit;
  color: #000;

  &--grey {
    color: $darkGrey;
  }

  &--center {
    text-align: center;
  }

  &--fda {
    &:hover {
      color: #9c9c9c;
    }
  }

  @media (min-width: $desktop) {
    font-size: 28px;
    line-height: 34px;
  }
}
