@import "../styles/utils/variables.scss";

.Footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 80px 40px;
  background-color: $darkBlue;
  
  & * ::after {
    display: none;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: flex-start;
    padding: 100px 7% 100px;
    background-image: url("../../public/img/any/footer_bgr.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 370px;
  }

  &__logo {
    margin: 0 0 20px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media (min-width: $desktop) {
      width: 260px;
    }

    &:nth-child(2) {
      margin-left: 110px;
      width: 200px;
    }

    &:last-child {

      @media (min-width: $desktop) {
        width: 300px;
      }
    }
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    width: 204px;
    margin-bottom: 50px;

    @media (min-width: $desktop) {
      margin-bottom: 0;
    }
  }

  &__menu {
    opacity: 0;
    height: 0;
    width: 100%;

    @media (min-width: $desktop) {
      opacity: 1;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 40px;

    }
  }

  &__message {
    text-align: center;
    margin-bottom: 30px;
  }
}
