@import "../../styles/utils/variables.scss";

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 572px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: $darkBlue;
  background-image: url("../../public/img/any/home_mobile.png");

  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 7%;
    background-image: url("../../public/img/any/home_desktop.png");
    background-position-x: left;
    height: 860px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;

    @media (min-width: $desktop) {
      align-items: flex-start;
      width: 40%;
    }
  }

  &__title {
    font-size: 50px;
    line-height: 60px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;

    @media (min-width: $desktop) {
      font-size: 80px;
      line-height: 96px;
      font-weight: 400;
      text-align: left;
      margin-bottom: 50px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 60px;
    border: 3px solid #fff;
    border-radius: 5px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: $lightGrey;
    background-color: $darkBlue;
    cursor: pointer;
    transition: $transition;
  
    @media (min-width: $desktop) {
      width: 387px;
      height: 82px;
      font-size: 28px;
      line-height: 34px;
    }
  
    &:hover {
      color: #fff;
      font-weight: 500;
      background-color: #0e1216;
    }
  
    &:active {
      background-color: #0f141a;
    }
  
    &:disabled {
      color: #252525;
      background-color: $darkGrey;
    }
  }
}
